apiVersion: v2
name: keycloak
description: A Wrapper Helm chart for Keycloakx in Kubernetes
type: application
version: 0.4.1
appVersion: 26.4.7

dependencies:
  - name: common
    version: 2.x.x
    repository: oci://ghcr.io/didx-xyz/bitnami-oss-charts

  # https://github.com/codecentric/helm-charts/tree/master/charts/keycloakx
  - name: keycloakx
    version: 7.1.5
    repository: https://codecentric.github.io/helm-charts
    alias: keycloak
    condition: keycloak.enabled

  - name: keycloak-config-cli
    version: 5.8.1-SNAPSHOT
    repository: git+https://github.com/didx-xyz/keycloak-config-cli@contrib/charts?ref=init-containers&sparse=0
    alias: config-cli
    condition: config-cli.enabled
