.password-requirements {
  flex-direction: column;
  display: none;
  color: #72767b;
}

.requirement-success {
  text-decoration: underline;
  color: green;
}

.requirement-fail {
  text-decoration: underline;
  color: red;
}
