# Ignore everything

\*\*

# Except the following:

!public/
public/_.js
public/_.map

!src/
!.env.example
!eslint.config.mjs
!.prettierignore
!next.config.mjs
!package.json
!postcss.config.cjs
!prettier.config.cjs
!tailwind.config.ts
!tsconfig.json
!yarn.lock
