/* popups */
.mdxeditor-popup-container {
  z-index: 2000 !important;
}

/* editor borders */
.mdxeditor {
  border-style: dashed;
  border-width: 1px;
  border-color: theme("colors.gray");
  border-radius: var(--radius-medium);
}

.mdxeditor ol,
.mdxeditor ul {
  list-style-type: disc !important; /* Restore default list style */
  margin-left: 1.5rem !important; /* Add indentation to lists */
  padding-left: 1rem !important; /* Ensure padding is present for alignment */
}
.mdxeditor ol {
  list-style-type: decimal !important; /* Ordered lists have decimal markers */
}
